body {
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.stage {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#bg {
  z-index: 0;
}

#fg {
  z-index: 1;
}